.u-section-1 {
  background-image: url("images/e96906006a7bb0865ff9d8d6773ab9be89807c8128dc15982c196bd7b4f90af0514efe776c285ba5b2233c1d913ec4b4546246113645c1ae1d22a8_12801.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}